<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout.html}" >
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"
href="../static/css/bootstrap.min.css"
th:href="@{css/bootstrap.min.css}"
/>
<link rel="stylesheet" type="text/css"
href="../static/css/bootstrap.min.css"
th:href="@{css/style.css}"
/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<title>Edit Produits</title>
</head>
<body>
<div class="container spacer" layout:fragment="content">
  <div class="panel panel-default">
     <div class="panel-heading">Saisie d'un produit</div>
     <div class="panel-body">
    <form th:action="@{save}" method="post">
      <div class="form-group">
     <label class="control-LabelL">Id:</label>
     <input class="form-control" type="text" name="id" th:value="${(produit.id)}"/>
     <span class="red" th:errors="${produit.id}"></span>
   </div>
  <div class="form-group">
     <label class="control-LabelL">Désignation:</label>
     <input class="form-control" type="text" name="designation" th:value="${(produit.designation)}"/>
     <span class="red" th:errors="${produit.designation}"></span>
   </div>
   <div class="form-group">
  <label class="control-Label">Prix:</label>
  <input class="form-control" type="text" name="prix" th:value="${(produit.prix)}"/>
  	<span class="red" th:errors="${produit.prix}"></span>
</div>
<div class="form-group">
  <label class="control-Label ">Quantité:</label>
  <input class="form-control" type="text" name="quantite"
 th:value="${produit.quantite}"/>
 <span class="red" th:errors="${produit.quantite}"></span>
</div>
<div>
  <button type="submit" class="btn btn-primary">Save</button>
</div>
</form>
     </div>
   </div>
   </div>
</body>
</html>